#demo-simple-select-helper{
    height: 40px;
}

.Mui-disabled :hover{
    cursor: not-allowed;
}

.MuiTabs-indicator{
    background-color: #1a73e8 !important;
    height: 3px !important;
}

#mui-p-76560-T-1{
    color: rgb(71, 67, 67) !important;
}

#mui-p-76560-T-2{
    color: rgb(71, 67, 67) !important;
}